
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html,body{
  height: 100%;
  margin: 0;
}

body {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #cfdde9;
}
video {
  width: 100%    !important;
  height: auto   !important;
}

section .container{
  height: 100%;
}
.preview-area {
  background: url('../img/bgd.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.prototype-area {
    background: #cfdde9;
}
