
* {
  margin: 0;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  color: #444;
}

h1, h2, h3, h4, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}
h3 {
  font-family: 'Nunito-sans', sans-serif;
  font-weight: 600;
  color: #343D3D;
}
h3 strong{
  font-family: 'Nunito-sans', sans-serif;
  font-weight: 700;
}
a{
  -moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Nunito-sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #343D3D;
  margin-top: 10px;
}

p strong{
 font-family: 'Nunito-sans', sans-serif;
}
html, body, .header, .iphone11area{
  height: 100%;
}

#creditasLogo{
  width: 160px;
}

.centered {
  text-align: center
}

.mt {
  margin-top: 8%;
}

.mb {
  margin-bottom: 50px;
}

.mtb {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ptb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #696E74;
}

/* HEADER CONFIGURATION */

#header {
  margin-top: 6%;
  color: #ccc;
}

#header h2 {
  color: #11BB77;
  font-size: 50px;
  line-height: 48px;
}

#header h3 {
  color: #343D3D;
  font-weight: 400;
  font-size: 20px;
}

#header h4 {
  color: #343D3D;
  /* font-weight: 400;
  font-size: 28px; */
}
#header h6 {
  color: #11BB77;
  font-size: 20px;
  line-height: 48px;
  margin-bottom: 0;
}
#header hr {
  width: 20%;
  border: 1px solid #c3c9c9;
}
/* FORM CONFIGURATION */

form input{
  width: 80%;
  height: 40px;
  font-size: 18px;
  border: 1px solid #C3C9C9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  line-height: 24px;
  color:#8A9696;
}
form button{
  margin-top:2%;
  width: 40%;
  font-size: 18px;
  padding: 9px 9px;
  line-height: 1.2;
  background: #11BB77;
  border-radius: 4px;
  box-shadow: none;
  border:none;
  color:#fff;
}
@media (max-width: 768px ) {
  #header {
    padding-top: 0;
  }
  #creditasLogo{
    width: 160px;
  }
  .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
  img{
    width: 80%;
    margin-top:2%;
  }
  .mt {
    margin-top: 30px;
  }
  #copyrights{
    position: relative;
    bottom: 0px;
  }
  form input{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #C3C9C9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    line-height: 24px;
    color:#8A9696;
  }
  form button{
    margin-top:2%;
    width: 100%;
    font-size: 18px;
    padding: 9px 9px;
    line-height: 1.2;
    background: #11BB77;
    border-radius: 4px;
    box-shadow: none;
    border:none;
    color:#fff;
  }
}


/* FOOTER*/

#f {
  background: #fafafa;
  color: #8c9494;
  padding-top: 50px;
  padding-bottom: 50px;
}

#f h4 {
  color: #8c9494;
}

#f a {
  color: #5dca88;
}

#f a:hover {
  color: #8c9494;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
/*


#copyrights {
  background: #fafafa;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #364444;
  font-size: 16px;
}

#copyrights a {
  color: #364444;
}

.credits {
  color: #364444;
}
*/
